OctetString should be initialized from string of octets, not as text.

It seems that there is an issue with OctetString datatype, according to ASN.1 OCTET STRING is a string of octets and should be initialized as a string of octets, not from quoted text, ie. an argument to datatype.OctetString should be passed to network as it is, without further conversion.

I am using this source as a reference - http://luca.ntop.org/Teaching/Appunti/asn1.html , and from what I see the practical application confirms this.

No, there is no issue with the OctetString format. I've been using it for the past 2 years to communicate with all sorts of 3rd party equipment and it's the simplest format. Check out the implementation:

https://github.com/fiorix/go-diameter/blob/master/diam/datatype/octetstring.go

And the tests:

https://github.com/fiorix/go-diameter/blob/master/diam/datatype/octetstring_test.go

The one thing you have to take into account is that all datatypes' `.String` function return their representational format for pretty printing, which means if you use anything in the standard library like  `fmt.Printf` and friend it'll actually call `.String` automatically returning a value that is only useful for debugging. That said, when you want to actually see the raw value of a `datatype.OctetString` you'd have to cast it with `string(v)`.

As an addition, when you say "passed to the network as-is without conversion", that's actually not true because diameter OctetString have padding in it.

I am trying to rewrite test case prepared in OpenCloud simulator which communicates with live service.

This value is defined in the OC Simulator as '947102310159' and service expects to receive this value. It seems it is not possible to define such or similar values using []byte(string) conversion.

May be current implementation works fine for your use-cases, but for mine it's not working at least out of the box and requires adjustment (and it is not minor platform I am talking about).

Please share a snippet of your code or try to re-create the test, I'm almost convinced that this may be a misunderstanding. The implementation of the OctetString follows the strict definitions of RFC 6733 section 4.

First of all, you are right that padding should be added, I wrongly expressed myself. I meant that value should be passed without conversion. The reason behind this issue is that I was struggling for several hours to trigger a service in the desired way with no luck. It included experiments with string conversion where I tried by looking at the ascii table to prepare desired value.

Unfortunately concept of octet string is vaguely documented in the internet and one of the links I found was http://pyasn1.sourceforge.net/scalar.html.  Section 1.1.7 of this document says that: 

> The OCTET STRING type is a confusing subject. According to ASN.1 specification, this type is similar to BIT STRING, the major difference is that the former operates in 8-bit chunks of data. What is important to note, is that OCTET STRING was NOT designed to handle text strings - the standard provides many other types specialized for text content. For that reason, ASN.1 forbids to initialize OCTET STRING values with "quoted text strings", only binary or hex initializers, similar to BIT STRING ones, are allowed.

I checked other sources including Layman's Guide to ASN which stated that:

>OCTET STRING, an arbitrary string of octets (eight-bit values).

Section 4 of RFC 6733 does not contradict both of these sources, but the way it is defined is ambiguous, so I guess it could be up to vendor's interpretation.

The way I define AVP in question is:

    m.NewAVP(avp.ServiceParameterInfo, avp.Mbit, 0, &diam.GroupedAVP{
		AVP: []*diam.AVP{
			diam.NewAVP(avp.ServiceParameterType, avp.Mbit, 0, datatype.Unsigned32(1)),
			diam.NewAVP(avp.ServiceParameterValue, avp.Mbit, 0, datatype.OctetString("947102310159"))

OpenCloud simulator has a GUI editor which accepts a value and says that this field contains OctetString type, exactly the same value that is defined in this field is received on the application server side. If I try the same approach in go-diameter it fails to trigger expected behavior and server complains about unrecognized value (which is the value generated by go-diameter during string conversion).

So you see my dilemma :)

I will probably define an extra datatype in go-diameter and see how it works for me. 

Could it be that user should convert quoted string and pass converted value into datatype.OctetString method? If user does not want it he just passes string of octets which require only padding and no additional conversion.

Mmmm, that's weird. There's no conversion other than turning the string into a byte array, which is essentially what the OctetString type is. If you could take a capture of both messages (good and bad) we can compare the difference. Is the ServiceParameterValue type correctly defined as OctetString in the dictionary?

The go-diameter of AVP in question in wireshark looks as follows:

    AVP: Service-Parameter-Info(440) l=40 f=-M-
        AVP Code: 440 Service-Parameter-Info
        AVP Flags: 0x40
        AVP Length: 40
        Service-Parameter-Info: 000001b94000000c00000001000001ba4000001439343731...
            AVP: Service-Parameter-Type(441) l=12 f=-M- val=1
            AVP: Service-Parameter-Value(442) l=20 f=-M- val=393437313032333130313539
                AVP Code: 442 Service-Parameter-Value
                AVP Flags: 0x40
                AVP Length: 20
                Service-Parameter-Value: 393437313032333130313539

The version from OC sim looks as follows:

        AVP: Service-Parameter-Info(440) l=36 f=---
        AVP Code: 440 Service-Parameter-Info
        AVP Flags: 0x00
        AVP Length: 36
        Service-Parameter-Info: 000001b90000000c00000001000001ba0000000e94710231...
            AVP: Service-Parameter-Type(441) l=12 f=--- val=1
            AVP: Service-Parameter-Value(442) l=14 f=--- val=947102310159
                AVP Code: 442 Service-Parameter-Value
                AVP Flags: 0x00
                AVP Length: 14
                Service-Parameter-Value: 947102310159
                Padding: 0000

OC sim does not convert string '947102310159' to bytes just pads it and puts on the wire.

Credit-control dictionary in go-diameter looks ok and Service-Parameter-Value is defined as OctetString. In OC sim it is defined as OctetString as well.

OC Sim assumes that user wants to pass already converted string and assumes that user knows what he is doing. So it looks that OC sim operates one layer below go-diameter and assumes user already converted information he wants to pass. Go-diameter on the other hand assumes that user just wants to pass some unconverted string and takes care of the nitty gritty details. As I mentioned before I am not an expert, but at the same time I wonder if OctetString just converts string to byte array which is essentially what UTF8String is for, why bother having OctetString in the first place.

That's the thing, there are no nitty gritty details. It's going from string("947102310159") to []byte("947102310159"), which have essentially the same binary value. There is no way that I can think of go-diameter would convert 947102310159 to 393437313032333130313539. If you pretty print the message before sending it out, does it show it correctly or already shows the wrong number?

I just did this to prove the theory that go-diameter can't be converting that to anything:

	package main

	import (
		"log"

		"github.com/fiorix/go-diameter/diam"
		"github.com/fiorix/go-diameter/diam/avp"
		"github.com/fiorix/go-diameter/diam/datatype"
	)

	func main() {
		avp := diam.NewAVP(avp.ServiceParameterInfo, avp.Mbit, 0, &diam.GroupedAVP{
			AVP: []*diam.AVP{
				diam.NewAVP(avp.ServiceParameterType, avp.Mbit, 0, datatype.Unsigned32(1)),
				diam.NewAVP(avp.ServiceParameterValue, avp.Mbit, 0, datatype.OctetString("947102310159")),
			},
		})
		log.Println(avp)
	}

And the output is:

        2015/03/06 16:38:17 {Code:440,Flags:0x40,Length:40,VendorId:0,Value:{Code:441,Flags:0x40,Length:12,VendorId:0,Value:Unsigned32{1}},{Code:442,Flags:0x40,Length:20,VendorId:0,Value:OctetString{947102310159},Padding:0}}

When messages get Serialized they just use what's in the AVP. It's possible that the value you're assigning to the ServiceParameterValue is wrong somehow.

I get the same output in the terminal as you, but when I record the network traffic in wireshark I get *393437313032333130313539*.

From what I see in the source code:

    func (s OctetString) Serialize() []byte {
	    return []byte(s)
    }

When I run a separate script with a code:

    func main() {
	myString = "947102310159"
	myOctetString := []byte(myString)
	for i := range myOctetString {
		fmt.Printf("byte is %x\n", myOctetString[i])
         }
     }

I get:

    byte is 39
    byte is 34
    byte is 37
    byte is 31
    byte is 30
    byte is 32
    byte is 33
    byte is 31
    byte is 30
    byte is 31
    byte is 35
    byte is 39

And this experiment leads me to belief that go-diameter does the conversion.

No, it's not. Wireshark is already showing you the value in hex. If you click on the Value and compare it to the hex dump below it in Wireshark you'll see it's the same. What means what you actually want to send is this:

    v := []byte{0x94, 0x71, 0x02, 0x31, 0x01, 0x59}
    diam.NewAVP(avp.ServiceParameterValue, avp.Mbit, 0, datatype.OctetString(v))

Which is fine for an OctetString although it's a non-printable text string.

In addition to that, if go-diameter did any weird conversion we wouldn't be able to parse things like Origin-Host and Origin-Realm correctly, since the `datatype.DiameterIdentity` is in fact a `datatype.OctetString` just like the spec says:

https://github.com/fiorix/go-diameter/blob/master/diam/datatype/diamident.go

Does that make sense to you?

It makes perfect sense, thanks. 